
.btn{
  padding-left: 25px;
  padding-right: 25px;
}
.box--text{
  font-size: 30px;
}

.box{
  width: 15vw;
  height: 15vw;
  background-color: #1FC2AE;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg{
  background-color: coral;
}
.input{
  position: relative;
}
.input::after{
  content: "dddd";
  position: absolute;
  top: 30px;
  left: 0;
  background-color: bisque;
}